*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    overflow: hidden;
    background-color: #D9D9D9;
    padding: 1rem 4rem;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 10rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1rem 1.3rem;
}

nav ul li a{
    text-decoration: none;
    color: #3D600A;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;
}

nav ul li a:hover{
    color: #89a000;
}

.hero_heading{
    color: black;
    text-transform: uppercase;
    padding: 4rem 3.3rem 0.8rem;
    font-size: 1.8rem;
}

.hero_images{
    display: flex;
    justify-content: center;
    padding: 0 5rem 1rem;
}

.hero_images img{
    width: 28rem;
    align-items: center;
    margin: 1rem;
}

.hero_paragraph{
    padding: 0 4rem 0.6rem 3.3rem;
    line-height: 2rem;
    font-size: 1rem;
}

.hero_button{
    border: none;
    margin: 2rem 3.3rem 4rem;
}

.hero_button a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #F5D300;
    padding: 1rem;
    border-radius: 0.3rem;
    font-weight: 900;
}

.hero_button a:hover{
    cursor: pointer;
    background-color: #ffe857;
}

.content_area1{
    padding: 5rem 25rem;
    margin: auto;
    line-height: 2.3rem;
    font-size: 1.6rem;
    text-align: center;
    color: white;
    background-color: #3D600A;
}

.content_area2{
    text-transform: uppercase;
    font-size: larger;
    font-weight: 600;
    margin: 5rem 3.3rem 1.5rem;
}

.content_area3{
    padding: 0.5rem 3.5rem 1.5rem;
    line-height: 2rem;
    font-size: 1rem; 
    font-style: italic;
}

.list ul{
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 0 3rem 3rem;
    line-height: 2rem;
    font-size: 1rem; 
    font-weight: 700;
}

.contact-form{
    background-color: #3D600A;
}

.form-group{
    padding: 3rem 3.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 3rem;
}

.form-label{
    display: block;
}

.input-field{
    width: 100%;
    outline: none;
    border: none;
    background-color:#3D600A;
    box-sizing: border-box;
    border-bottom: 0.1rem solid white;
}

.button{
    border: none;
    border-radius: 0.3rem;
    margin: 0 3.3rem 4rem;
    padding: 0.8rem 4rem 0.8rem 1.4rem;
    background: #F5D300;
}

.button a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.button:hover{
    cursor: pointer;
    background-color: #ffe857;
}

textarea{
    resize: none;
}

.footer{
    text-align: center;
    font-weight: 600;
    margin: 4rem 3.3rem 1.5rem;
}

.footer h4{
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.social_icons img{
    width: 2rem;
    align-items: center;
    margin: 1rem 0.3rem 2rem;
}

.social_icons img:hover{
    cursor: pointer;
    background-color: #89a000;
}

.footer p{
    font-weight: 200;
    font-size: 1.1rem;
    margin: 2rem;
}
